html {
    overflow: hidden;
    height: 100%;
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #EEE;
    font-family: "微软雅黑";
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -250px;
    width: 500px;
    height: 120px;
    text-align: center;
}

#wrapper h1 {
    margin: 0 0 20px;
    padding: 0;
    font-weight: 300;
    font-size: 30px;
}

#wrapper h1 b{
    font-weight: 700;
}

#start {
    width: 120px;
    height: 40px;
    +margin-left: 260px;
    vertical-align: middle;
    font-family: "微软雅黑";
    cursor: pointer;
}

#stop {
    display:none;
    width: 120px;
    height: 40px;
    vertical-align: middle;
    font-family: 微软雅黑;
    cursor: pointer;
}

#cfg {
    color: #666;
    text-shadow: 1px 1px 1px #eee;
    font-size: 12px;
    cursor: pointer;
}
.temp {
    position: absolute;
    z-index: -1;
    color: #777;
}

#popbox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -210px;
    padding: 0 10px;
    width: 400px;
    height: 280px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #fff;
    -webkit-box-shadow: 0 0 22px #333, inset 0 -3px 7px #DDD;
    -moz-box-shadow: 0 0 22px #333, inset 0 -3px 7px #DDD;
    box-shadow: 0 0 22px #333, inset 0 -3px 7px #DDD;
    +border: 1px solid #666;
}

#ok {
    float: right;
    margin: -3px 0 0;
    color: #666;
    cursor: pointer;
    width: 50px;
    height: 22px;
}

#weibo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
